:root{
    --cor0: #F2F2F2;
    --cor1: #B5D9B4;
    --cor2: #86BF84;
    --cor3: #75BF73;
    --cor4: #44A641;
}

body{
    background-color: var(--cor0);
    font: normal 20px Arial, Helvetica,sans-serif;
}

main picture{
    margin: auto;
}

#entrando{
    float: right;
    text-align: center;
    background-color: var(--cor1);
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin-top: 70px;
    margin-right: 30px;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
}
#imglogin{
    
    margin-top: 30px;
}
#msg{
    font-size: 20px;
}

#usuario{
    height: 30px;
    font-size: 20px;
}

#senha{
    height: 30px;
    margin-left: 11px;
    font-size: 20px;
}

#alerta{
    margin: 40px;
}

#entrar{
    width: 110px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
#entrar:hover{
    background-color: var(--cor4);
    color: white;
    transition-duration: 1s;
}

#imgG{
    margin-left: 200px;
    margin-top: 200px;
}


