:root{
    --cor0: #F2F2F2;
    --cor1: #B5D9B4;
    --cor2: #86BF84;
    --cor3: #75BF73;
    --cor4: #44A641;
}

body{
    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}

header h1{
    display: inline-block;
}

header img{
    display: inline-block;
    float: right;
    margin-top: -20px;
}

div span{
    margin-right: 20px;
}

hr{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

.adicionar{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.adicionar:hover{
    background-color: var(--cor4);
    color: white;
    transition-duration: 1s;
}

#quarteirao{
    margin-left: 40px;
    margin-top: 30px;
    width: 150px;
}
#numquar{
    font-size: 30px;
    width: 80px;
    margin-left: 10px;
    
}